<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <div class="CommonBackground">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-12 mx-auto">
                    <h1 class="display-4 text-center mt-5"> Add your notes and tasks </h1>
                    <div class="addTaskInput">
                        <form method="post" action="/create"> 
                            <input type="text" placeholder="Write here" name="task" />
                            <button type="submit" onclick="getUserData()"><img src="images/plus.png" /></button>
                        </form>
                    </div>
                    <div class="tasksSection"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/common.js"></script>
</body>
</html>